
<!doctype html>
<html>
  <head>
    <title>Public Chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 55%; margin-right: .5%; }
      form button { width: 20%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages { margin-bottom: 40px }
    </style>
    <link href="CSS/navCSS.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!-- <script src="JS/profileJS.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    <script src="JS/momentjs.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io().connect();
        $('form').submit(function(){
          var message = $('#n').val()+": "+$('#m').val();
          socket.emit('chat message', message);
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
          window.scrollTo(0, document.body.scrollHeight);
        });
      });
    </script>
  </head>
  <body>
    <!--Navbar -->
    <div class="w3-top w3-moblie">
    	<div class="w3-bar w3-text-white w3-left-align" id="nav_bar">
    		<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-16 w3-hover-text-grey w3-large " href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    		<a href="/profile" class="w3-bar-item w3-button  w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-home "></i> MUNSSN</a>
    		<a href="/group" class="w3-bar-item w3-button w3-hide-small w3-hover-none w3-hover-text-grey w3-padding-16"><i class="fa fa-users fa-fw "></i> Group</a>
    		<a href="/friend" class="w3-bar-item w3-button  w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-user"></i> Friends</a>
    		<a href="/lostandfound" class="w3-bar-item w3-button w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-circle-o-notch fa-fw "></i> Lost and Found</a>
    		<a href="/coursepoll" class="w3-bar-item w3-button  w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-question-circle-o fa-fw "></i> Course Poll</a>
    		<a href="/chatroom" class="w3-bar-item w3-button w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-envelope w"></i> Chatroom</a>
    		<div class="w3-dropdown-hover  w3-large" style="margin-top:10px;background-color:maroon;">
    			<button class="w3-button w3-text-white">
    				<i class="fa fa-bell w3-large"></i>
    				<span class="w3-badge w3-right w3-medium w3-blue">
    					<%=requestStatus.length%>
    				</span>
    			</button>
    			<div class="w3-dropdown-content w3-bar-block w3-cards"  style="width:400px">
    				<!--display friend request as notification-->
    				<% requestStatus.forEach(function(user) {%>
    					<div class="w3-card w3-contianer">
    					<p>  <%=user.requester.name.first%> <%=user.requester.name.last%> sending you a friend request</p>
    					<time id="then" datetime="<%= user.dateAccepted%>"></time>
              <form action ="/acceptRequest" method = "post">
    						<input type="hidden" name="requester" value="<%=user.requester._id%>">
    						<button type="submit" class="w3-green"> Accept Request </button>
                </form>
                <form action ="/denyRequest" method = "post">
                  <input type="hidden" name="requester" value="<%=user.requester._id%>">
                  <button type="submit" class="w3-red"> Deny Request </button>
              </form>
    				</div>
    					<% }) %>
    				</div>
    			</div>
    		<div class="w3-right">
    				<div class="w3-dropdown-hover w3-red">
    					<button class="w3-button"><img src="../<%=user.image%>"class="w3-bar-item" width="42px" height="42px"><p class="w3-bar-item w3-margin-right" id='user_email' alt='<%=user.local.email%>'><%= user.name.first%></p></button>
    					<div class="w3-dropdown-content w3-bar-block w3-card-4">
    						<a href="/profile" class="w3-bar-item w3-button">profile</a>
    						<a href="/setting" class="w3-bar-item w3-button">Setting</a>
    						<a href="/logout" class="w3-bar-item w3-button">Logout</a>
    					</div>
    				</div>
    			</div>
    		</div>
    </div>
    <div id="navDemo" class=" w3-bar-block w3-hide w3-hide-large w3-text-white w3-hide-medium w3-large">
    	<a href="/profile" class="w3-bar-item w3-button w3-hover-none  w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-home w3-margin-right"></i>MUNSSN</a>
    	<a href="/group" class="w3-bar-item w3-button w3-hover-none w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-users fa-fw w3-margin-right"></i>Group</a>
    	<a href="/friend" class="w3-bar-item w3-button  w3-hover-none  w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-user w3-margin-right"></i>Friends</a>
    	<a href="/lostandfound" class="w3-bar-item w3-button  w3-hover-none w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Lost and Found</a>
    	<a href="/coursepoll" class="w3-bar-item w3-button w3-hover-none w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-question-circle-o fa-fw w3-margin-right"></i>Course Poll</a>
    	<a href="/chatroom" class="w3-bar-item w3-button w3-hover-none w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-envelope w3-margin-right"></i>Chatroom</a>
    </div>
    <div class="w3-card-2">
    <div class="w3-margin-right w3-margin-top w3-quarter w3-red">
      <p> public Chatroom </p>
    </div>
    <div class="w3-twothird w3-margin-top">
    <ul id="messages"></ul>
    <form action="">

      <input type='hidden', value='<%=user.name.first%> <%=user.name.last%>' id ='n'/>
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>
  </body>
</html>
