<!doctype HTML5>
<html>
<head>
<meta charset="utf-8">
<title>MUNSSN-Profile</title>
<link href="../CSS/navCSS.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="../JS/profileJS.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="../JS/momentjs.js"></script>
</head>
<body>
	<div class="w3-top w3-moblie">
		<div class="w3-bar w3-text-white w3-left-align" id="nav_bar">
			<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-16 w3-hover-text-grey w3-large " href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
			<a href="/profile" class="w3-bar-item w3-button  w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-home "></i> MUNSSN</a>
			<a href="/group" class="w3-bar-item w3-button w3-hide-small w3-hover-none w3-hover-text-grey w3-padding-16"><i class="fa fa-users fa-fw "></i> Group</a>
			<a href="/friend" class="w3-bar-item w3-button  w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-user"></i> Friends</a>
			<a href="/lostandfound" class="w3-bar-item w3-button w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-circle-o-notch fa-fw "></i> Lost and Found</a>
			<a href="/coursepoll" class="w3-bar-item w3-button  w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-question-circle-o fa-fw "></i> Course Poll</a>
			<a href="/chatroom" class="w3-bar-item w3-button w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-envelope w"></i> Chatroom</a>
			<div class="w3-dropdown-hover  w3-large" style="margin-top:10px;background-color:maroon;">
				<button class="w3-button w3-text-white">
					<i class="fa fa-bell w3-large"></i>
					<span class="w3-badge w3-right w3-medium w3-blue">
						<%=requestStatus.length%>
					</span>
				</button>
				<div class="w3-dropdown-content w3-bar-block w3-cards"  style="width:400px">
					<!--display friend request as notification-->
					<% requestStatus.forEach(function(user) {%>
						<div class="w3-card w3-contianer">
						<p>  <%=user.requester.name.first%> <%=user.requester.name.last%> sending you a friend request</p>
						<time id="then" datetime="<%= user.dateAccepted%>"></time>
						<form action ="/acceptRequest" method = "post">
							<form action ="/acceptRequest" method = "post">
								<input type="hidden" name="requester" value="<%=user.requester._id%>">
								<button type="submit" class="w3-green"> Accept Request </button>
		            </form>
		            <form action ="/denyRequest" method = "post">
		              <input type="hidden" name="requester" value="<%=user.requester._id%>">
		              <button type="submit" class="w3-red"> Deny Request </button>
		          </form>
					</div>
						<% }) %>
					</div>
				</div>
			<div class="w3-right">
					<div class="w3-dropdown-hover w3-red">
						<button class="w3-button"><img src="../<%=user.image%>"class="w3-bar-item" width="42px" height="42px"><p class="w3-bar-item w3-margin-right" id='user_email' alt='<%=user.local.email%>'><%= user.name.first%></p></button>
						<div class="w3-dropdown-content w3-bar-block w3-card-4">
							<a href="/profile" class="w3-bar-item w3-button">profile</a>
							<a href="/setting" class="w3-bar-item w3-button">Setting</a>
							<a href="/logout" class="w3-bar-item w3-button">Logout</a>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div id="navDemo" class=" w3-bar-block w3-hide w3-hide-large w3-text-white w3-hide-medium w3-large">
		<a href="/profile" class="w3-bar-item w3-button w3-hover-none  w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-home w3-margin-right"></i>MUNSSN</a>
		<a href="/group" class="w3-bar-item w3-button w3-hover-none w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-users fa-fw w3-margin-right"></i>Group</a>
		<a href="/friend" class="w3-bar-item w3-button  w3-hover-none  w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-user w3-margin-right"></i>Friends</a>
		<a href="/lostandfound" class="w3-bar-item w3-button  w3-hover-none w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Lost and Found</a>
		<a href="/coursepoll" class="w3-bar-item w3-button w3-hover-none w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-question-circle-o fa-fw w3-margin-right"></i>Course Poll</a>
		<a href="/chatroom" class="w3-bar-item w3-button w3-hover-none w3-hide-large	 w3-hover-text-grey w3-padding-16"><i class="fa fa-envelope w3-margin-right"></i>Chatroom</a>
	</div>
<div id="body_div" class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

	<div id = "profLeft" class ="w3-third">
		<div class="w3-card">
			<div class="w3-card-2 w3-red">
				<h1> Info</h1></div>

    <img src="../<%=group.image%>" class="w3-circle" width="100%">
    <div class="w3-container">
      <h4><b><%=group.name%></b></h4>
			<h4>Description</h4>
			<p><%=group.description%></p>
			<%  if(group.type == 'public'){%>
				<form method="post" enctype="multipart/form-data" action="/joingroup">
					<input type='hidden' name="id" value='<%=group._id%>'>
					<input type="submit" value="join Group">
					</form>
			<%}else{%>
					<form method="post" enctype="multipart/form-data" action="/requestjoin">
						<input type='hidden' name="id" value='<%=group._id%>'>
						<input type="submit" value="Request">
						</form>
				<%}%>
		</div>

	</div>
</div>

	<div id = "profRight" class ="w3-twothird">

		<div id = "tab">
			<button class="tablink" onclick="openTab(event, 'Timeline')" id="defaultLoad">Timeline</button>
			<button class="tablink" onclick="openTab(event, 'file')">File</button>
		</div>
		<div id = "tlBox">
			<div id="Timeline" class="tabcontent">

				<div id="postBox">
					<form action="/gpost" method="post">
					<textarea name="message" rows="4" placeholder="Enter message here."></textarea><br>
          <input type="hidden" name="group_id" value="<%=group._id %>">
					<button class="post w3-button w3-white" type="submit"><i class="fa fa-pencil"></i> Post</button>
					</form>
				</div>

     <h2>List of Post</h2>
<% postlist.forEach(function(post) { %>
	<div class="w3-panel w3-card-2 w3-white">
<form method="post" action="javascript:void 1" class="inline" id ="postform_<%= post._id %>">

    <p><%= post.body %></p>
    <br>
  <time id="then" datetime="<%= post.date%>"></time>
    <div id ="comment_area">

    </div>
    <input type="text" name="comment" value="">
    <button type="submit" name="post_id" value="<%= post._id %>" class="link-button" onclick="submitText(this)">comment
    </button>

</form>
</div>
 <% }) %>
			</div>
			<div id="file" class="tabcontent">
				<form method="post" enctype="multipart/form-data" action="/groupfile">
					<input type="file" name='pdf'/>
					<input type='hidden' name="id" value='<%=group._id%>'>
					<input type="submit" value="Submit">
					</form>
	</div>
</div>
			</div>
		</div>


	</div>

</div>
</body>
</html>
