<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 600px;
        width: 80%;
        /*pointer-events: none;*/

       }
       html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}

    </style>
    <meta charset="utf-8">
    <title>MUNSSN-Lost And Found</title>
    <link href="CSS/navCSS.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    <script src="JS/momentjs.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  </head>
  <body>
    <div class="w3-top w3-moblie">
    	<div class="w3-bar w3-text-white w3-left-align" id="nav_bar">
    		<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-16 w3-hover-text-grey w3-large " href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    		<a href="/profile" class="w3-bar-item w3-button  w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-home "></i> MUNSSN</a>
    		<a href="/group" class="w3-bar-item w3-button w3-hide-small w3-hover-none w3-hover-text-grey w3-padding-16"><i class="fa fa-users fa-fw "></i> Group</a>
    		<a href="/friend" class="w3-bar-item w3-button  w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-user"></i> Friends</a>
    		<a href="/lostandfound" class="w3-bar-item w3-button w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-circle-o-notch fa-fw "></i> Lost and Found</a>
    		<a href="/coursepoll" class="w3-bar-item w3-button  w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-question-circle-o fa-fw "></i> Course Poll</a>
    		<a href="/chatroom" class="w3-bar-item w3-button w3-hide-small w3-hover-none  w3-hover-text-grey w3-padding-16"><i class="fa fa-envelope w"></i> Chat</a>
    		<div class="w3-dropdown-hover  w3-large" style="margin-top:10px;background-color:maroon;">
    			<button class="w3-button  w3-hover-text-grey w3-text-white">
    				<i class="fa fa-bell w3-large"></i>
    				<span class="w3-badge w3-right w3-medium w3-blue">
    					<%=requestStatus.length%>
    				</span>
    			</button>
    			<div class="w3-dropdown-content w3-bar-block w3-cards"  style="width:400px">
    				<!--display friend request as notification-->
    				<% requestStatus.forEach(function(user) {%>
    					<div class="w3-card w3-contianer">
    					<p>  <%=user.requester%> sending you a friend request</p>
    					<time id="then" datetime="<%= user.dateAccepted%>"></time>
              <form action ="/acceptRequest" method = "post">
    						<input type="hidden" name="requester" value="<%=user.requester%>">
    						<button type="submit" class="w3-green"> Accept Request </button>
                </form>
                <form action ="/denyRequest" method = "post">
                  <input type="hidden" name="requester" value="<%=user.requester%>">
                  <button type="submit" class="w3-red"> Deny Request </button>
              </form>
    				</div>
    					<% }) %>
    				</div>
    			</div>
    		<div class="w3-right">

    				<div class="w3-dropdown-hover">
    					<button class="w3-button  w3-hover-text-grey"><img src="../<%=user.image%>"class="w3-bar-item" width="42px" height="42px"><p class="w3-bar-item w3-margin-right" id='user_email' alt='<%=user.local.email%>'><%= user.name.first%></p></button>
    					<div class="w3-dropdown-content w3-bar-block w3-cards">
    						<a href="/profile" class="w3-bar-item w3-button">profile</a>
    						<a href="#" class="w3-bar-item w3-button">Setting</a>
    						<a href="/logout" class="w3-bar-item w3-button">Logout</a>
    					</div>
    				</div>
    			</div>
    		</div>
    </div>



    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
      <div class="map-view w3-half w3-card w3-moblie" >
          <div id="map" style='width:100%' style='position:fixed'></div>
          <div id="message"></div>
        </div>
    <div class="post-view w3-card w3-half ">
      <% postlist.forEach(function(post, index) { %>
        <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
      		<img src='<%=post.postby.image%>' class="w3-left w3-circle w3-margin-right" style="width:60px">
      		<span> <%=post.postby.name.first%> <%=post.postby.name.last%></span>
          <time id="then"  class="w3-right w3-opacity" datetime="<%= post.date%>"></time>
          <p><%= post.body %></p>
          <img src='<%=post.picture%>' width='200px' height="200px">
          <form action='/removelfpost' method = "post" id ='removepost<%=index%>'>
            <input type="hidden" name="post" value="<%=post._id%>">
            <button type="submit" class="w3-red"> Remove Post </button>
            </form>
            <br>
            <button class="w3-green" id='claim<%=index%>'> Claim  Item</button>
            <br><span id ='contact<%=index%>'></span>

      </div>
       <% }) %>
    </div>
  </div>

    <script>
      var map;
      var marker;
      var infowindow;
      var messagewindow;

      function initMap() {
        var mun = {lat: 47.573640, lng: -52.733247};
        map = new google.maps.Map(document.getElementById('map'), {
          center: mun,
          zoom: 18
        });
        // document.getElementById('form').style.display='none';

        //ejs only part, adjust to the post information you are passing in
      <% for (var i = 0; i <  postlist.length; i++){ %>
          var pMarker<%=i%> = new google.maps.Marker({
            position: new google.maps.LatLng<%= postlist[i].location%>,
            map: map
          });
          contentWindow<%=i%> = new google.maps.InfoWindow({
            content:"<div class='w3-container w3-card-2 w3-white w3-round w3-margin'><br>"+
          		"<img src='<%=postlist[i].postby.image%>' class='w3-left w3-circle w3-margin-right' style='width:60px'>"+
          		"<span> <%=postlist[i].postby.name.first%> <%=postlist[i].postby.name.last%></span>"+
              "<time id='then'  class='w3-right w3-opacity' datetime='<%= postlist[i].date%>'></time>"+
              "<p><%= postlist[i].body %></p>"+
              "<img src='<%=postlist[i].picture%>' width='200px' height='200px'>"
          })
          google.maps.event.addListener(pMarker<%=i%>, 'click', function() {
            // document.getElementById('form').style.display='block';
            contentWindow<%=i%>.open(map, pMarker<%=i%>);
          });
      <%  } %>
        // here finishes the ejs only part

        infowindow = new google.maps.InfoWindow({
          content:"<div id='form'>"+
          "<form action='/lostfoundpost' method='post'  enctype= 'multipart/form-data'>"+
          "<textarea name='message' rows='4' placeholder='Enter Description here.'></textarea>"+
          "<input type ='text' name ='phone' placeholder='phone'><br>"+
          "<input type='file' name = 'picture'/>"+
          "<input type='hidden' name='location' value='' id='location'><br>"+
          "<input type='hidden' name='email' value='<%= user.local.email %>'><br>"+
          "<input type='submit' value='Post' name='submit'>"+
          "</form>"+
          "</div>"
        })

        messagewindow = new google.maps.InfoWindow({
          content: document.getElementById('message')
        });

        google.maps.event.addListener(map, 'click', function(event) {
          marker = new google.maps.Marker({
            position: event.latLng,
            map: map
          });

          marker.addListener('dblclick', function() {
            marker.setMap(null);
          });


          infowindow.open(map, marker);
          var location = document.getElementById('location');
          location.value = marker.getPosition();
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
          });


        });
      }


      function saveData() {
        var name = escape(document.getElementById('name').value);
        var address = escape(document.getElementById('address').value);
        var phone = document.getElementById('phone').value;
        var latlng = marker.getPosition();
        document.getElementById('item_location').value = {lat:latlng.lat(), lng:latlng.lng()}
        var url = 'phpsqlinfo_addrow.php?name=' + name + '&address=' + address +
                  '&type=' + phone + '&lat=' + latlng.lat() + '&lng=' + latlng.lng();
        downloadUrl(url, function(data, responseCode) {

          if (responseCode == 200 && data.length <= 1) {
            infowindow.close();
            messagewindow.open(map, marker);
          }
        });
      }

      function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

        request.onreadystatechange = function() {
          if (request.readyState == 4) {
            request.onreadystatechange = doNothing;
            callback(request.responseText, request.status);
          }
        };

        request.open('GET', url, true);
        request.send(null);
      }

      function doNothing () {
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf013VduAovGDVoWwtLeyplwvG4CcLSQQ&callback=initMap">
    </script>

    <script>
    $(document).ready(function(){
      <% for (var i = 0; i<postlist.length; i++){%>
        if('<%=postlist[i].postby._id%>' != '<%=user._id%>'){
        $('#removepost<%=i%>').hide();
        }

        $('#claim<%=i%>').click(function(event){
            if(!findUser){
              $('#contact<%=i%>').text('Contact Information:<%=postlist[i].contact.email%>');
            }
            else{
              $('#contact<%=i%>').text('Contact Information:<%=postlist[i].contact.phone%>');

            }
        });
    <%}%>
    });
    function findUser(){
      <% postlist.forEach(function(p, index){%>
        <% p.postby.friends.forEach(function(f){%>
          if('<%=f%>' == '<%=user._id%>'){
            return true;
          }
        <%  }) %>

      <%  }) %>


      return false;
    }



    </script>
  </body>
</html>
