<!doctype HTML5>
<html>
<head>
<meta charset="utf-8">
<title>MUNSSN-Profile</title>
<link href="CSS/navCSS.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="JS/profileJS.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="JS/momentjs.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

</head>
<body>
<!-- <div id="banner">
	<h2>Test Information</h2>
	<p>some nonsense I guess</p>
</div> -->
<div class="w3-bar w3-border  w3-text-white w3-collaspe " id="nav_bar">
	<a href="/profile" class="w3-bar-item w3-button w3-hover-none  w3-hover-text-grey w3-padding-16">MUNSSN</a>
	<a href="/group" class="w3-bar-item w3-button w3-hover-none w3-hover-text-grey w3-padding-16">Group</a>
	<a href="/friend" class="w3-bar-item w3-button  w3-hover-none  w3-hover-text-grey w3-padding-16">Friends</a>
	<a href="/lostandfound" class="w3-bar-item w3-button  w3-hover-none  w3-hover-text-grey w3-padding-16">Lost and Found</a>
	<a href="/chatroom" class="w3-bar-item w3-button w3-hover-none  w3-hover-text-grey w3-padding-16">chatroom</a>

	<div class="w3-dropdown-hover w3-right">
<button class="w3-button w3-hover-none w3-hover-text-grey"><img src="<%=user.image%>"class="w3-bar-item" width="42px" height="42px"><p class="w3-bar-item w3-margin-right" id='user_email' alt='<%=user.local.email%>'><%= user.name.first%></p></button>
<div class="w3-dropdown-content w3-bar-block w3-cards">
	<a href="/profile" class="w3-bar-item w3-button">profile</a>
	<a href="#" class="w3-bar-item w3-button">Setting</a>
	<a href="/logout" class="w3-bar-item w3-button">Logout</a>
</div>
</div>
</div>
<div id="body_div" >
	<div id = "profLeft" class ="w3-third w3-moblie w3-center"">
		<div class="w3-card">
			<div class="w3-card-2 w3-red">
				<h1> Info</h1></div>

    <img src="<%=user.image%>" class="w3-circle" width="100%">
    <div class="w3-container">
      <h4><b><%=user.name.first%> <%=user.name.last%></b></h4>
      <p>year of <%=user.Year%></p>
			<p>Major <%= user.Major%></P>
			<p>Birthday <%= user.birthday%></p>
		</div>

	</div>
</div>

	<div id = "profRight" class ="w3-twothird w3-moblie">

		<div id = "tab">
			<button class="tablink" onclick="openTab(event, 'Timeline')" id="defaultLoad">Timeline</button>
			<button class="tablink" onclick="openTab(event, 'Schedule')">Schedule</button>
			<button class="tablink" onclick="openTab(event, 'Resume')">Resume</button>
		</div>
		<div id = "tlBox">
			<div id="Timeline" class="tabcontent">

				<div id="postBox">
					<form action="/post" method="post">
					<textarea name="message" rows="4" placeholder="Enter message here."></textarea><br>
          <input type="hidden" name="email" value="<%= user.local.email %>">
					<select id="permission" name="visibility">
						<option value="everyone">Everyone</option>
						<option value="friends">Friends</option>
						<option value="me">Only me</option>
						<option value="specific">Select...</option>
					</select>

						<div id="id01" class="w3-modal">
							<div class="w3-modal-content" style="max-width:600px">
								<div class="w3-container">
										<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
											<input type="checkbox" name="options[]" value="1" />1<br>
											<input type="checkbox" name="options[]" value="2" />2<br>
											<input type="checkbox" name="options[]" value="3" />3<br>
											<input type="checkbox" name="options[]" value="4" />4<br>
											<input type="checkbox" name="options[]" value="5" />5<br>
				<p class="w3-button w3-grey" id="setfriends">set</p>
			</div>
			</div>
					</div>
					<input type="hidden" value="" id="friendlist">
					<button class="post w3-button w3-white" type="submit"><i class="fa fa-pencil"></i> Post</button>
					</form>
				</div>

     <h2>List of Post</h2>
		 <input type ="hidden" value ="<%= postlist.length%>" id='length'/>
<% postlist.forEach(function(post, index) { %>
	<div class="w3-panel w3-card-2 w3-white">
<form method="post" class="inline" id ="postform_<%= post._id %>">

    <p><%= post.body %></p>
    <br>
  <time id="then" datetime="<%= post.date%>"></time>
    <div id ="comment_area<%=index%>" name="haha im here">
			<% post.comments.forEach(function(comments){%>
				<p><%= comments.text%></p>

			<%})%>
    </div>
    <input type="text" name="comment" id ='comment'>
    <button type="submit" name="post_id" value="<%= post._id %>" id="comment_btn<%=index%>" alt="<%=index%>">comment
    </button>

</form>
</div>
 <% }) %>
	</div>
			<div id="Schedule" class="tabcontent">
				  <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-white">Create Schedule</button>
					<div id="id02" class="w3-modal">
						<div class="w3-modal-content">
							<div class="w3-container">
								<span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
								<p>Enter Schedule Information</p>
							</div>
						</div>
					</div>
			</div>
			<div id="Resume" class="tabcontent">
				<p> resumen go here</P>
			</div>
		</div>


	</div>

</div>

<script>
$()
  // function submitText(event){
 // 	 var form = event.form;
 // 	var div  = form.querySelector('#comment_area');
 // 		add(form, div);
  // }
	//
  // function add(form ,div, s){
 // 	var para = document.createElement("p");
 // 	var node = document.createTextNode(form.comment.value);
 // 	para.appendChild(node);
  //   div.appendChild(para);
  //   form.comment.value =""
 // 	}
 </script>
</body>
</html>
