<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
        
     
    <form action="/addFriend" method="post">
        <div class="form-group">
            <label>fName</label>
            <input type="text" class="form-control" name="Fname">
        </div>
        <div class="form-group">
            <label>lName</label>
            <input type="text" class="form-control" name="Lname">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Add Friend</button>
    </form>
  
  
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
          
           	<p>
            	<strong> friends </strong>: <%= user.local.friends %>
           	</p>
        </div>
        
        
                 <h2>List of users</h2>
 
  <% userlist.forEach(function(user) { %>
     <li><a href="<%linkAddFriends%><%= user._id%>"> <%= user.local.email %></a></li>
             <% }) %>

  </button>

         
                  <h2>Friends</h2>
 <ul>
  <% userlist.forEach(function(user) { %>
    <li><a href="users/#<%= user.friends %>"> <%= user.friends %></a></li>
   <% }) %>
</ul>    	


    </div>

</div>
</body>
</html>
